*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    height: 100%;
    width: 100%;
    

}
a{text-decoration: none;}
.container{
    max-width: 95vw;
    padding: 2rem 1rem;
    margin: 0 auto;
  
}
.header-container{
    margin-bottom:2.8rem;
}
.header-title{
    margin-bottom:1rem ;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2rem;
    text-align: center;
}
.header-desc{
    color: rgb(101, 100, 100);
    max-width: 568px;
    text-align: center;
    margin:0 auto;

}
.main_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:1.5rem;

}
.card-container{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(112, 110, 110);
    border-radius:2px ;

}
.card-container:hover{
    transform: scale(1.1);
}
.card-image-container{
    position: relative;
    overflow: hidden;
    height: 10rem;
    

}
.card-image{
    object-fit: cover;
    position: absolute;
    object-position: center;
    height: 100%;
    width: 100%;

   
}
.card-title-container{
    display:flex;
    flex-direction: column;
    padding: 1.5rem;

}
.card-container:hover .card-image{
    transform: scale(1.1);
    transition-duration: 200ms;
}
.card-title{
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    margin-bottom: 0.3rem;

}
.card-title:hover {
    color:blue;
}
.card-desc{
    color: rgb(125, 124, 124);
    font-size:1rem ;
    font-weight:400 ;
}
.card-footer-container{
    display: flex;
    justify-content: space-between;
    padding:1.5rem;

}
.author-container{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap:1rem;
}
.author-avatar-container{
    height: 2.5rem;
    width: 2.5rem;
    overflow: hidden;
    border-radius :50px; ;
    border: 1px solid rgba(115, 112, 112, 0.37);
}
.author-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.name{
    color:rgb(107, 107, 142);
}
.card-tag-container{
    border:1px solid black;
    font-size: 0.8rem;
    /* font-weight: 400; */
    background-color:rgb(107, 107, 107);
    text-align: center;
    padding: 0.25rem 0.5rem;
}